# Files to ignore in the Git repository
assets/loading_screen/spinner.xcf
assets/loading_screen/spinner_start.png

# Folders to ignore
backups/
.vscode/
# ignore everything in the gifs folder except for the ayakaHello.gif file
assets/gifs_and_pics/*


# Files not to ignore (overrides)
!assets/gifs_and_pics/ayakaHello.gif
!assets/gifs_and_pics/wanderer_peek_.png
!assets/gifs_and_pics/wanderer_peek_hand.png
